USE [QL_NHAHANG]
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[MACONGVIEC] [nvarchar](5) NOT NULL,
	[TENCONGVIEC] [nvarchar](50) NULL,
 CONSTRAINT [PK_CONGVIEC] PRIMARY KEY CLUSTERED 
(
	[MACONGVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [int] NOT NULL,
	[MAMON] [int] NOT NULL,
	[GIA] [decimal](18, 0) NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC,
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_MON]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_MON](
	[MAMON] [int] NOT NULL,
	[MANGUYENLIEU] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITIETMON] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC,
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATBAN]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATBAN](
	[MADATBAN] [int] NOT NULL,
	[SOBAN] [int] NULL,
	[MANV] [nvarchar](7) NULL,
	[MAKH] [nvarchar](5) NULL,
	[THOIGIANDAT] [nvarchar](7) NULL,
	[NGAYDAT] [datetime] NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK_DATBAN] PRIMARY KEY CLUSTERED 
(
	[MADATBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MADATBAN] [int] NULL,
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](7) NULL,
	[MAKH] [nvarchar](5) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [decimal](18, 0) NULL,
	[VAT] [decimal](18, 0) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](5) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[CCCD] [varchar](12) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIMON]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMON](
	[MALOAI] [int] NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIMON] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINGUYENLIEU]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINGUYENLIEU](
	[MALOAINL] [int] NOT NULL,
	[TENLOAINGUYENLIEU] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAINGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MALOAINL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[MAMON] [int] NOT NULL,
	[TENMON] [nvarchar](50) NULL,
	[GIA] [decimal](18, 0) NULL,
	[MALOAI] [int] NULL,
	[HINHANH] [nvarchar](max) NULL,
	[MOTA] [nvarchar](200) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_MON] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANGUYENLIEU] [int] NOT NULL,
	[TENNGUYENLIEU] [nvarchar](50) NULL,
	[SOLUONGCON] [int] NULL,
	[LOAINGUYENLIEU] [int] NULL,
	[MANHACUNGCAP] [int] NULL,
	[GIATIEN] [decimal](18, 0) NULL,
	[MOTA] [nvarchar](200) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [int] NOT NULL,
	[TENNHACUNGCAP] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](7) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[EMAIL] [varchar](70) NULL,
	[CCCD] [varchar](12) NULL,
	[SDT] [varchar](10) NULL,
	[HINHANH] [nvarchar](max) NULL,
	[CHUCVU] [nvarchar](20) NULL,
	[THANHTICH] [int] NULL,
	[TONGTHOIGIANLAM] [int] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MANV] [nvarchar](7) NOT NULL,
	[MACONGVIEC] [nvarchar](5) NOT NULL,
	[THOIGIAN] [int] NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MACONGVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/14/2024 3:09:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MANV] [nvarchar](7) NULL,
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
	[LOAITK] [nvarchar](15) NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CONGVIEC] ([MACONGVIEC], [TENCONGVIEC]) VALUES (N'CV001', N'Quản lý')
INSERT [dbo].[CONGVIEC] ([MACONGVIEC], [TENCONGVIEC]) VALUES (N'CV010', N'Phục vụ')
INSERT [dbo].[CONGVIEC] ([MACONGVIEC], [TENCONGVIEC]) VALUES (N'CV011', N'Lễ tân')
GO
INSERT [dbo].[CT_HOADON] ([MAHD], [MAMON], [GIA], [SOLUONG]) VALUES (2, 1, CAST(150000 AS Decimal(18, 0)), 1)
INSERT [dbo].[CT_HOADON] ([MAHD], [MAMON], [GIA], [SOLUONG]) VALUES (4, 1, CAST(150000 AS Decimal(18, 0)), 1)
INSERT [dbo].[CT_HOADON] ([MAHD], [MAMON], [GIA], [SOLUONG]) VALUES (1, 2, CAST(189000 AS Decimal(18, 0)), 3)
GO
INSERT [dbo].[CT_MON] ([MAMON], [MANGUYENLIEU], [SOLUONG]) VALUES (1, 1, 1)
INSERT [dbo].[CT_MON] ([MAMON], [MANGUYENLIEU], [SOLUONG]) VALUES (1, 5, 1)
INSERT [dbo].[CT_MON] ([MAMON], [MANGUYENLIEU], [SOLUONG]) VALUES (1, 6, 1)
GO
INSERT [dbo].[DATBAN] ([MADATBAN], [SOBAN], [MANV], [MAKH], [THOIGIANDAT], [NGAYDAT], [GHICHU]) VALUES (1, 1, N'NV00001', N'KH001', N'17:00', CAST(N'2024-05-17T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[DATBAN] ([MADATBAN], [SOBAN], [MANV], [MAKH], [THOIGIANDAT], [NGAYDAT], [GHICHU]) VALUES (2, 6, N'NV00002', N'KH002', N'7:00', CAST(N'2024-05-22T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[DATBAN] ([MADATBAN], [SOBAN], [MANV], [MAKH], [THOIGIANDAT], [NGAYDAT], [GHICHU]) VALUES (3, 3, N'NV00003', N'KH003', N'7:00', CAST(N'2024-05-17T00:00:00.000' AS DateTime), N'')
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MADATBAN], [MAHD], [MANV], [MAKH], [NGAYLAP], [TONGTIEN], [VAT]) VALUES (1, 1, N'NV00001', N'KH001', CAST(N'2024-05-14T14:59:36.400' AS DateTime), CAST(1026000 AS Decimal(18, 0)), CAST(102600 AS Decimal(18, 0)))
INSERT [dbo].[HOADON] ([MADATBAN], [MAHD], [MANV], [MAKH], [NGAYLAP], [TONGTIEN], [VAT]) VALUES (1, 2, N'NV00001', N'KH001', CAST(N'2024-05-14T14:59:50.377' AS DateTime), CAST(1082000 AS Decimal(18, 0)), CAST(108200 AS Decimal(18, 0)))
INSERT [dbo].[HOADON] ([MADATBAN], [MAHD], [MANV], [MAKH], [NGAYLAP], [TONGTIEN], [VAT]) VALUES (1, 3, N'NV00001', N'KH001', CAST(N'2024-05-14T15:00:32.537' AS DateTime), CAST(1176000 AS Decimal(18, 0)), CAST(117600 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [CCCD], [SDT]) VALUES (N'KH001', N'Nguyễn Văn A', N'012345678912', N'0901234567')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [CCCD], [SDT]) VALUES (N'KH002', N'Nguyễn Văn B', N'012345678913', N'0901234568')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [CCCD], [SDT]) VALUES (N'KH003', N'Trần Quốc C', N'012345678914', N'0901234569')
GO
INSERT [dbo].[LOAIMON] ([MALOAI], [TENLOAI]) VALUES (1, N'Món khai vị')
INSERT [dbo].[LOAIMON] ([MALOAI], [TENLOAI]) VALUES (2, N'Món chính')
INSERT [dbo].[LOAIMON] ([MALOAI], [TENLOAI]) VALUES (3, N'Món phụ')
GO
INSERT [dbo].[LOAINGUYENLIEU] ([MALOAINL], [TENLOAINGUYENLIEU]) VALUES (1, N'Rau củ')
INSERT [dbo].[LOAINGUYENLIEU] ([MALOAINL], [TENLOAINGUYENLIEU]) VALUES (2, N'Trái cây')
INSERT [dbo].[LOAINGUYENLIEU] ([MALOAINL], [TENLOAINGUYENLIEU]) VALUES (3, N'Thịt')
GO
INSERT [dbo].[MON] ([MAMON], [TENMON], [GIA], [MALOAI], [HINHANH], [MOTA], [TRANGTHAI]) VALUES (1, N'Gỏi bò bóp', CAST(150000 AS Decimal(18, 0)), 1, N'Dulieu/Mon/1.png', N'Vô cùng thom ngon', 1)
INSERT [dbo].[MON] ([MAMON], [TENMON], [GIA], [MALOAI], [HINHANH], [MOTA], [TRANGTHAI]) VALUES (2, N'Thịt nướng', CAST(189000 AS Decimal(18, 0)), 2, N'Dulieu/Mon/2.png', N'An là thèm', 1)
INSERT [dbo].[MON] ([MAMON], [TENMON], [GIA], [MALOAI], [HINHANH], [MOTA], [TRANGTHAI]) VALUES (3, N'Lẩu thái', CAST(189000 AS Decimal(18, 0)), 2, N'Dulieu/Mon/3.png', N'Chua cay thom ngon', 1)
GO
INSERT [dbo].[NGUYENLIEU] ([MANGUYENLIEU], [TENNGUYENLIEU], [SOLUONGCON], [LOAINGUYENLIEU], [MANHACUNGCAP], [GIATIEN], [MOTA], [TRANGTHAI]) VALUES (1, N'Thịt bò', 36, 3, 1, CAST(250000 AS Decimal(18, 0)), N'Chất luợng cao', 1)
INSERT [dbo].[NGUYENLIEU] ([MANGUYENLIEU], [TENNGUYENLIEU], [SOLUONGCON], [LOAINGUYENLIEU], [MANHACUNGCAP], [GIATIEN], [MOTA], [TRANGTHAI]) VALUES (2, N'Thịt cừu', 41, 3, 1, CAST(220000 AS Decimal(18, 0)), N'Chất lượng cao', 1)
INSERT [dbo].[NGUYENLIEU] ([MANGUYENLIEU], [TENNGUYENLIEU], [SOLUONGCON], [LOAINGUYENLIEU], [MANHACUNGCAP], [GIATIEN], [MOTA], [TRANGTHAI]) VALUES (3, N'Mực', 27, 4, 2, CAST(280000 AS Decimal(18, 0)), N'Tươi ngon vô cùng', 1)
GO
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [GHICHU], [TRANGTHAI]) VALUES (1, N'Trần Lê F', N'Q.Bình Thạnh,TP HCM', N'', 1)
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [GHICHU], [TRANGTHAI]) VALUES (2, N'Lê Thị Q', N'Q.6 ,TP HCM', N'', 1)
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [GHICHU], [TRANGTHAI]) VALUES (3, N'Nguyễn Ngọc X', N'Q.7 ,TP HCM', N'', 1)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [CCCD], [SDT], [HINHANH], [CHUCVU], [THANHTICH], [TONGTHOIGIANLAM], [TRANGTHAI]) VALUES (N'NV00001', N'Vương Tâm', N'vt@gmail.com', N'111122223333', N'0908123456', N'Dulieu/NhanVien/NV00001.jpg', N'Quản lý', 225, 175, 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [CCCD], [SDT], [HINHANH], [CHUCVU], [THANHTICH], [TONGTHOIGIANLAM], [TRANGTHAI]) VALUES (N'NV00002', N'Lương Ngọc Tài', N'lnt@gmail.com', N'222233334444', N'0908123457', N'Dulieu/NhanVien/NV00002.jpg', N'Nhân viên', 175, 175, 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [CCCD], [SDT], [HINHANH], [CHUCVU], [THANHTICH], [TONGTHOIGIANLAM], [TRANGTHAI]) VALUES (N'NV00003', N'Nguyễn Văn Huy', N'nvh@gmail.com', N'111155554444', N'0908123458', N'Dulieu/NhanVien/NV00003.jpg', N'Nhân viên', 125, 125, 1)
GO
INSERT [dbo].[PHANCONG] ([MANV], [MACONGVIEC], [THOIGIAN], [GHICHU]) VALUES (N'NV00001', N'CV001', 50, N'')
INSERT [dbo].[PHANCONG] ([MANV], [MACONGVIEC], [THOIGIAN], [GHICHU]) VALUES (N'NV00001', N'CV010', 50, N'')
INSERT [dbo].[PHANCONG] ([MANV], [MACONGVIEC], [THOIGIAN], [GHICHU]) VALUES (N'NV00001', N'CV011', 25, N'')
GO
INSERT [dbo].[TAIKHOAN] ([MANV], [TENDANGNHAP], [MATKHAU], [LOAITK], [TRANGTHAI]) VALUES (N'NV00002', N'ngocti', N'e10adc3949ba59abbe56e057f20f883e', N'NV', 1)
INSERT [dbo].[TAIKHOAN] ([MANV], [TENDANGNHAP], [MATKHAU], [LOAITK], [TRANGTHAI]) VALUES (N'NV00004', N'quocbo', N'e10adc3949ba59abbe56e057f20f883e', N'NV', 1)
INSERT [dbo].[TAIKHOAN] ([MANV], [TENDANGNHAP], [MATKHAU], [LOAITK], [TRANGTHAI]) VALUES (N'NV00003', N'vanhy', N'e10adc3949ba59abbe56e057f20f883e', N'NV', 1)
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_MON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON] ([MAMON])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_MON]
GO
ALTER TABLE [dbo].[CT_MON]  WITH CHECK ADD  CONSTRAINT [FK_CT_MON_MON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON] ([MAMON])
GO
ALTER TABLE [dbo].[CT_MON] CHECK CONSTRAINT [FK_CT_MON_MON]
GO
ALTER TABLE [dbo].[CT_MON]  WITH CHECK ADD  CONSTRAINT [FK_CT_MON_NGUYENLIEU] FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
GO
ALTER TABLE [dbo].[CT_MON] CHECK CONSTRAINT [FK_CT_MON_NGUYENLIEU]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DATBAN_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN] CHECK CONSTRAINT [FK_DATBAN_KHACHHANG]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DATBAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DATBAN] CHECK CONSTRAINT [FK_DATBAN_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DATBAN] FOREIGN KEY([MADATBAN])
REFERENCES [dbo].[DATBAN] ([MADATBAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DATBAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[MON]  WITH CHECK ADD  CONSTRAINT [FK_MON_LOAIMON] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMON] ([MALOAI])
GO
ALTER TABLE [dbo].[MON] CHECK CONSTRAINT [FK_MON_LOAIMON]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU_LOAINGUYENLIEU] FOREIGN KEY([LOAINGUYENLIEU])
REFERENCES [dbo].[LOAINGUYENLIEU] ([MALOAINL])
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [FK_NGUYENLIEU_LOAINGUYENLIEU]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU_NHACUNGCAP] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [FK_NGUYENLIEU_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_CONGVIEC] FOREIGN KEY([MACONGVIEC])
REFERENCES [dbo].[CONGVIEC] ([MACONGVIEC])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_CONGVIEC]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
